* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.app_container {
    width: 1350px;
    height: 850px;
    display: flex;
}

.col-6 {
    width: 60%;
    height: 100%;
    border-left: 1px solid #B1B1B1;
    background-color: aqua;
}

.col-4 {
    width: 40%;
    height: 100%;
    background-color: blueviolet;
}

.side_bar {
    display: flex;
    flex-direction: column;
}

.profile_bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

.col {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px 0 15px;
}

.col img {
    width: 100%;
}

ul li {
    list-style: none;
}

.profile_icons {
    display: flex;
    gap: 15px;
}

.fa-circle-notch, .fa-message, .fa-ellipsis-vertical, .fa-paperclip, .fa-magnifying-glass {
    font-size: 20px;
    color: #B1B1B1;
}

.notification_bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8EDAFC;
}

.notification_icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 9999px;
}

.fa-bell-slash {
    font-size: 25px;
    color: #8EDAFC;
}

.notification_text p {
    color: grey;
    text-decoration: underline;
    font-weight: bold;
}

.search_bar {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
}

.input_style {
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.search_icon {
    padding: 0 15px 0 15px;
}

.search_text {
    flex-grow: 1;
    padding-right: 15px;
}

.contact_list {
    width: 100%;
    flex-grow: 1;
    background-color: white;
}

.contact_item {
    display: flex;
    padding: 15px;
    gap: 15px;
    align-items: center;
}

.contact_info p {
    font-size: 14px;
    margin-top: 5px;
    color: grey;
}

.right_box {
    display: flex;
    flex-direction: column;
}

.chat_container {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    background-color: #E5DDD5;
}

.message_input_container {
    width: 100%;
    height: 80px;
    background-color: #F3EEEA;
}

.chat_box {
    display: flex;
    flex-direction: column;
}

.chat_box li {
    max-width: 300px;
    border-radius: 10px;
}

.chat_box p {
    padding: 5px;
}

.chat_date p {
    text-align: right;
    font-size: 14px;
    color: #B1B1B1;
}

.my_message {
    align-self: flex-end;
    background-color: #D5F9BA;
    padding: 5px;
    margin-bottom: 10px;
}

.contact_message {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.input_box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.fa-face-smile, .fa-microphone {
    font-size: 25px;
    color: #6A7376;
}

.input_box li:nth-child(2) {
    flex-grow: 1;
}

.message_input_style {
    width: 100%;
    padding: 20px 10px 20px 10px;
    border: 0;
    border-radius: 5px;
}

.active_chat {
    background-color: #B1B1B1;
}

.active_messages {
    display: flex;
}

.not_active {
    display: none;
}