* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.app_container {
    width: 1350px;
    height: 850px;
    display: flex;
}

.col-6 {
    width: 60%;
    height: 100%;
    border-left: 2px solid #B1B1B1;
    background-color: aqua;
}

.col-4 {
    width: 40%;
    height: 100%;
    background-color: blueviolet;
}

.profile_bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

.col {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px 0 15px;
}

.col img {
    width: 100%;
}

ul li {
    list-style: none;
}

.profile_icons {
    display: flex;
    gap: 15px;
}

.fa-circle-notch, .fa-message, .fa-ellipsis-vertical, .fa-paperclip, .fa-magnifying-glass {
    font-size: 20px;
    color: #B1B1B1;
}